<div class="login-container">
  <div class="login-box">
    <app-universal-alert></app-universal-alert>
    <h2>Log In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input">
        <label for="wizard">Wizard</label>
        <input type="text" id="user" formControlName="wizard" placeholder="Username...">
        <div
          *ngIf="loginForm.get('user')?.invalid && (loginForm.get('wizard')?.touched || loginForm.get('wizard')?.dirty)">
          <small *ngIf="loginForm.get('wizard')?.errors?.['required']">Username is required</small>
        </div>
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Password...">
        <div
          *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">The Password must have at least 6
            characters</small>
        </div>
      </div>
      <button type="submit">Log In</button>
      <div class="password-register">
        <a [routerLink]="['/auth/forgot-password']">Forgot password?</a>
      </div>
      <div class="password-register">
        <a [routerLink]="['/auth/register']">Sign Up</a>
      </div>
    </form>
  </div>
</div>