<div class="register-container">
  <div class="register-box">
        <a href="/">
      <img src="/logo-black-transparent.png" alt="Olivenders Logo" class="login-logo" />
    </a>
    <h2>CREATE A NEW ACCOUNT</h2>
    <form [formGroup]="registerForm" (ngSubmit)="registerWizard()" class="two-column-form">
      <div class="form-column">
        <div class="input">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" placeholder="Enter your username">
          <div
            *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
            <small *ngIf="registerForm.get('username')?.errors?.['required']">Username is required</small>
            <small *ngIf="registerForm.get('username')?.errors?.['minlength']">Minimum 6 characters</small>
          </div>
        </div>
        <div class="input">
          <label for="na1e">Name</label>
          <input type="text" id="name" formControlName="name" placeholder="Enter your name">
          <div
            *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
            <small *ngIf="registerForm.get('name')?.errors?.['required']">Name is required</small>
          </div>
        </div>
        <div class="input">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" formControlName="last_name" placeholder="Enter your last name">
          <div
            *ngIf="registerForm.get('last_name')?.invalid && (registerForm.get('last_name')?.touched || registerForm.get('last_name')?.dirty)">
            <small *ngIf="registerForm.get('last_name')?.errors?.['required']">Last Name is required</small>
          </div>
        </div>
        <app-entity-selector [entityControl]="schoolFormControl" [service]="schoolService"
          [findOneByString]="schoolService.findOneByName" label="School">
          <input type="hidden" formControlName="school" />
        </app-entity-selector>
        </div>
        <div class="form-column">
        <div class="input">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" placeholder="Enter your email">
          <div
            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
            <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid format</small>
          </div>
        </div>
        <div class="input">
          <label for="address">Address</label>
          <input type="text" id="address" formControlName="address" placeholder="Enter your address">
          <div
            *ngIf="registerForm.get('address')?.invalid && (registerForm.get('address')?.touched || registerForm.get('address')?.dirty)">
            <small *ngIf="registerForm.get('address')?.errors?.['required']">Address is required</small>
          </div>
        </div>
        <div class="input">
          <label for="phone">Phone</label>
          <input type="text" id="phone" formControlName="phone" placeholder="Enter your phone number">
          <div
            *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)">
            <small *ngIf="registerForm.get('phone')?.errors?.['required']">Phone is required</small>
          </div>
        </div>

        <div class="input">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="Enter your password">
          <div
            *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
            <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</small>
            <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 6 characters</small>
          </div>
        </div>
        <div class="input">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
          <div
            *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Password is required</small>
            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">Minimum 6 characters</small>
          </div>
        </div>
      </div>
      <div class="full-width">
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
