<div class="recover-container">
  <div class="recover-box">
    <h2 *ngIf="disablePasswordForm">FIND YOUR ACCOUNT</h2>
    <h2 *ngIf="!disablePasswordForm">RESET YOUR PASSWORD</h2>
    <form *ngIf="disablePasswordForm" [formGroup]="verificationForm" (ngSubmit)="verifyAccountByEmail()">
      <div class="input">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email">
        <div
          *ngIf="verificationForm.get('email')?.invalid && (verificationForm.get('email')?.touched || verificationForm.get('email')?.dirty)">
          <small *ngIf="verificationForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="verificationForm.get('email')?.errors?.['email']">Invalid format</small>
        </div>
      </div>
      <button type="submit">Search</button>
    </form>
    <form *ngIf="!disablePasswordForm" [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
      <div class="input">
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" formControlName="new_password" placeholder="Enter your new password">
        <div
          *ngIf="newPasswordForm.get('new_password')?.invalid && (newPasswordForm.get('new_password')?.touched || newPasswordForm.get('new_password')?.dirty)">
          <small *ngIf="newPasswordForm.get('new_password')?.errors?.['required']">New password is required</small>
          <small *ngIf="newPasswordForm.get('new_password')?.errors?.['minlength']">Minimum 6 characters</small>
        </div>
        <div class="input">
          <label for="confirm_new_password">Confirm New Password</label>
          <input type="password" id="confirm_new_password" formControlName="confirm_new_password"
            placeholder="Confirm your new password">
          <div
            *ngIf="newPasswordForm.get('confirm_new_password')?.invalid && (newPasswordForm.get('confirm_new_password')?.touched || newPasswordForm.get('confirm_new_password')?.dirty)">
            <small *ngIf="newPasswordForm.get('confirm_new_password')?.errors?.['required']">New password is
              required</small>
            <small *ngIf="newPasswordForm.get('confirm_new_password')?.errors?.['minlength']">Minimum 6 characters</small>
          </div>
        </div>
      </div>
      <button type="submit">Change Password</button>
    </form>
    <div class="back-to-login">
      <a [routerLink]="['/auth/login']">Return to sign in</a>
    </div>
  </div>
</div>
