.recover-container {
  margin: auto;
  min-height: 100vh;
  padding: 0;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recover-box {
  background: #fcfbfb;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(19, 19, 19, 0.15);
  padding: 40px;
  width: 90%;
  max-width: 450px;
  margin: 20px auto;
}

.recover-box h2 {
  margin: 0 0 15px 0;
  color: #2c4f72;
  text-decoration-color: #215a97;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.input label {
  display: block;
  margin-bottom: 5px;
  margin-top: 25px;
}

.input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input {
  margin-bottom: 10px;
}

form {
  margin-left: 10px;
  margin-right: 10px;
}

button {
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.back-to-login {
  margin-top: 10px;
  text-align: center;
}

.back-to-login a {
  color: #007bff;
  text-decoration: none;
}

.back-to-login a:hover {
  text-decoration: underline;
}