<div class="container my-4">
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4"
  >
    <h2 class="mb-3 mb-md-0">WIZARDS MANAGEMENT</h2>
    <app-searcher
      [data]="wizards"
      [filterAttributes]="['username', 'email', 'id']"
      (filteredData)="onSearch($event)"
      (searchTermChange)="searchTerm = $event"
      class="searcher"
    ></app-searcher>
  </div>
  <app-alert></app-alert>
  <app-data-table
    [columns]="[
      { key: 'id', label: 'ID' },
      { key: 'username', label: 'Username' },
      { key: 'name', format: DataTableFormat.TitleCase, label: 'Name' },
      { key: 'last_name', format: DataTableFormat.TitleCase, label: 'Last Name' },
      { key: 'email', label: 'Email' },
      { key: 'address', format: DataTableFormat.TitleCase, label: 'Address' },
      { key: 'phone', label: 'Phone' },
      { key: 'role', format: DataTableFormat.TitleCase, label: 'Role' },
      { key: 'deactivated', format: DataTableFormat.Boolean, label: 'Deactivated' },
      { key: 'school', subKey: 'name', format: DataTableFormat.TitleCase, label: 'School' }
    ]"
    [data]="filteredWizards"
    [emptyMessage]="'There are no wizards available'"
    [editModalTarget]="'#editWizard'"
    [removeModalTarget]="'#removeWizard'"
    (selectedEntity)="onWizardSelected($event)"
  >
  </app-data-table>
  <app-pagination
    [totalRecords]="totalWizards"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-pagination>
  <app-modal
    [config]="{
      id: 'editWizard',
      title: 'Edit Wizard',
      submitButtonText: 'Change Role',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="changeWizardRole()"
  >
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>Are you sure that you want to change <strong>{{ selectedWizard?.username
          }}</strong> to <strong>{{ selectedWizard?.role | titlecase }}</strong> ?</p>
      </div>
    </ng-template>
  </app-modal>
  <app-modal
    [config]="{
      id: 'removeWizard',
      title: 'Remove Wizard',
      submitButtonText: 'Confirm Delete',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="removeWizard()"
  >
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>Are you sure that you want to remove <strong>{{ selectedWizard?.username }}</strong> ?</p>
      </div>
    </ng-template>
  </app-modal>
</div>
