<div class="container my-4">
  <form [formGroup]="profileForm" class="two-column-form mb-lg-5">
    <div class="row g-3 m-auto">
      <div class="col-md-6">
        <label for="username" class="form-label text-primary fw-medium"
          >Username</label
        >
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          placeholder="Username"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('username')?.touched &&
            profileForm.get('username')?.hasError('usernameTaken')
          "
        >
          The username is already taken
        </small>
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('usuario')?.touched &&
            profileForm.get('usuario')?.hasError('required')
          "
        >
          Username is required
        </small>
      </div>
      <div class="col-md-6">
        <label for="name" class="form-label text-primary fw-medium mb-1"
          >Name</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Name"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label for="last_name" class="form-label text-primary fw-medium mb-1"
          >Last Name</label
        >
        <input
          type="text"
          id="last_name"
          formControlName="last_name"
          placeholder="Last Name"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label text-primary fw-medium"
          >Email</label
        >
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="name.last_name@hogwarts.edu"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('email')?.touched &&
            profileForm.get('email')?.hasError('emailTaken')
          "
        >
          Email is already taken
        </small>
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('email')?.touched &&
            profileForm.get('email')?.hasError('required')
          "
        >
          Email is required
        </small>
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('email')?.touched &&
            profileForm.get('email')?.hasError('email')
          "
        >
          Email format is invalid
        </small>
      </div>
      <div class="col-md-6">
        <label for="address" class="form-label text-primary fw-medium mb-1"
          >Address</label
        >
        <input
          type="text"
          id="address"
          formControlName="address"
          placeholder="Weasleys' Wizard Wheezes, Diagon Alley"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label text-primary fw-medium mb-1"
          >Phone</label
        >
        <input
          type="text"
          id="phone"
          formControlName="phone"
          placeholder="443456789"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <app-entity-selector
          [entityControl]="profileFormControl"
          [service]="schoolService"
          [findOneByString]="schoolService.findOneByName"
          label="School"
        >
          <input type="hidden" formControlName="school" />
        </app-entity-selector>
      </div>
      <div class="mt-4 d-flex justify-content-center gap-3 w-50 align-items-center">
        <button
          type="button"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#changePassword'"
          class="btn btn-secondary text-white flex-grow-1"

        >
          Change Password
        </button>
        <button
          type="submit"
          class="btn btn-primary flex-grow-1"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#updateProfile'"
        >
          Save Changes
        </button>

      </div>
    </div>
  </form>
  <app-modal
    [config]="{
      id: 'updateProfile',
      title: 'Update Profile',
      submitButtonText: 'Save Changes',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="updateProfile()"

  >
    <ng-template #modalContent>
      <form [formGroup]="profileForm">
        <div class="col-md-12">
          <label for="password">Password</label>
          <input
            type="text"
            formControlName="password"
            id="password"
            name="password"
            class="form-control"
            required
          />
        </div>
      </form>
    </ng-template>
  </app-modal>
  <app-modal
    [config]="{
      id: 'changePassword',
      title: 'Change Password',
      submitButtonText: 'Save Changes',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="changePassword()"

  >
    <ng-template #modalContent>
      <form [formGroup]="changePasswordForm">
        <div class="col-12">
          <div class="mb-4">
            <label
              for="currentPassword"
              class="form-label fw-medium text-primary mb-1"
              >Current Password</label
            >
            <input
              type="password"
              id="currentPassword"
              formControlName="currentPassword"
              placeholder="Current password"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                changePasswordForm.get('currentPassword')?.touched &&
                changePasswordForm.get('currentPassword')?.hasError('required')
              "
            >
              Current password is required
            </small>
            <small
              class="text-danger"
              *ngIf="
                changePasswordForm.get('currentPassword')?.touched &&
                changePasswordForm
                  .get('currentPassword')
                  ?.hasError('invalidCurrentPassword')
              "
            >
              Current password is incorrect
            </small>
          </div>
          <div class="mb-4">
            <label
              for="newPassword"
              class="form-label fw-medium text-primary mb-1"
              >New Password</label
            >
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              placeholder="New password"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                changePasswordForm.get('newPassword')?.touched &&
                changePasswordForm.get('newPassword')?.invalid
              "
              >Minimum 6 characters</small
            >
          </div>
          <div class="mb-4">
            <label
              for="confirmNewPassword"
              class="form-label fw-medium text-primary mb-1"
              >Confirm New Password</label
            >
            <input
              type="password"
              id="confirmNewPassword"
              formControlName="confirmNewPassword"
              placeholder="Confirm your new password"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                changePasswordForm.get('confirmNewPassword')?.touched &&
                changePasswordForm.hasError('notMatching')
              "
              >New Passwords must match</small
            >
          </div>
        </div>
      </form>
    </ng-template>
  </app-modal>
</div>
