<div class="container my-4">
  <h2 class="mb-4 mt-5">Profile Settings</h2>
  <form [formGroup]="profileForm" class="two-column-form mb-lg-5">
    <div class="row g-3 m-auto">
      <div class="col-md-6">
        <label for="username" class="form-label fw-medium mb-1">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          placeholder="Username"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('username')?.touched &&
            profileForm.get('username')?.hasError('required')
          "
        >
          Username is required
        </small>
      </div>
      <div class="col-md-6">
        <label for="name" class="form-label fw-medium mb-1">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Name"
          class="form-control"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('name')?.touched &&
            profileForm.get('name')?.hasError('required')
          "
        >
          Name is required
        </small>
      </div>
      <div class="col-md-6">
        <label for="last_name" class="form-label fw-medium mb-1"
          >Last Name</label
        >
        <input
          type="text"
          id="last_name"
          formControlName="last_name"
          placeholder="Last Name"
          class="form-control"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('last_name')?.touched &&
            profileForm.get('last_name')?.hasError('required')
          "
        >
          Last Name is required
        </small>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label fw-medium mb-1">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="name.last_name@hogwarts.edu"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('email')?.touched &&
            profileForm.get('email')?.hasError('required')
          "
        >
          Email is required
        </small>
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('email')?.touched &&
            profileForm.get('email')?.hasError('email')
          "
        >
          Email format is invalid
        </small>
      </div>
      <div class="col-md-6">
        <label for="address" class="form-label fw-medium mb-1">Address</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          placeholder="Weasleys' Wizard Wheezes, Diagon Alley"
          class="form-control"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('address')?.touched &&
            profileForm.get('address')?.hasError('required')
          "
        >
          Address is required
        </small>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label fw-medium mb-1">Phone</label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          placeholder="443456789"
          class="form-control"
        />
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('phone')?.touched &&
            profileForm.get('phone')?.hasError('required')
          "
        >
          Phone is required
        </small>
      </div>
      <div class="col-md-6 school-selector-container">
        <app-entity-selector
          [entityControl]="profileFormControl"
          [service]="schoolService"
          [findOneByString]="schoolService.findOneByName"
          label="School"
        >
          <input type="hidden" formControlName="school" />
        </app-entity-selector>
      </div>
      <div class="col-md-6">
        <button
          type="submit"
          class="btn save-changes-button"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#updateProfile'"
        >
          Save Changes
        </button>
      </div>
      <div>
        <h2 class="mb-4 mt-4 mb-md-5">More Options</h2>
        <div class="d-flex flex-column flex-md-row gap-3">
          <button
            type="button"
            [attr.data-bs-toggle]="'modal'"
            [attr.data-bs-target]="'#changePassword'"
            class="btn flex-grow-1 change-password-button"
          >
            Change Password
          </button>
          <button
            type="button"
            [attr.data-bs-toggle]="'modal'"
            [attr.data-bs-target]="'#deactivateAccount'"
            class="btn flex-grow-1 disable-account-button"
          >
            Disable Account
          </button>
        </div>
      </div>
    </div>
  </form>
  <app-modal
    [config]="{
      id: 'updateProfile',
      title: 'Update Profile',
      submitButtonText: 'Save Changes',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="updateProfile()"
    (onCancel)="this.resetPasswordOnProfileForm()"
  >
    <ng-template #modalContent>
      <form [formGroup]="profileForm">
        <div class="col-md-12">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <small
          class="text-danger"
          *ngIf="
            profileForm.get('password')?.touched &&
            profileForm.get('password')?.hasError('required')
          "
        >
          Password is required
        </small>
        <small
          class="text-danger"
          *ngIf="
            changePasswordForm.get('password')?.touched &&
            changePasswordForm.get('password')?.invalid
          "
        >
          Minimum 6 characters
        </small>
      </form>
    </ng-template>
  </app-modal>
  <app-modal
    [config]="{
      id: 'changePassword',
      title: 'Change Password',
      submitButtonText: 'Save Changes',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="changePassword()"
    (onCancel)="this.changePasswordForm.reset()"
  >
    <ng-template #modalContent>
      <form [formGroup]="changePasswordForm">
        <div class="col-12">
          <div class="mb-4">
            <label for="current_password" class="form-label fw-medium mb-1"
              >Current Password</label
            >
            <input
              type="password"
              id="current_password"
              formControlName="current_password"
              placeholder="Current password"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                profileForm.get('current_password')?.touched &&
                profileForm.get('current_password')?.hasError('required')
              "
            >
              Current Password is required
            </small>
            <small
              class="text-danger"
              *ngIf="
                changePasswordForm.get('current_password')?.touched &&
                changePasswordForm.get('current_password')?.invalid
              "
            >
              Minimum 6 characters
            </small>
          </div>
          <div class="mb-4">
            <label for="new_password" class="form-label fw-medium mb-1"
              >New Password</label
            >
            <input
              type="password"
              id="new_password"
              formControlName="new_password"
              placeholder="New password"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                profileForm.get('new_password')?.touched &&
                profileForm.get('new_password')?.hasError('required')
              "
            >
              New Password is required
            </small>
            <small
              class="text-danger"
              *ngIf="
                changePasswordForm.get('new_password')?.touched &&
                changePasswordForm.get('new_password')?.invalid
              "
            >
              Minimum 6 characters
            </small>
          </div>
          <div class="mb-4">
            <label for="confirm_new_password" class="form-label fw-medium mb-1"
              >Confirm New Password</label
            >
            <input
              type="password"
              id="confirm_new_password"
              formControlName="confirm_new_password"
              placeholder="Confirm your new password"
              class="form-control"
            />
            <small
                class="text-danger"
                *ngIf="
                  profileForm.get('confirm_new_password')?.touched &&
                  profileForm.get('confirm_new_password')?.hasError('required')
                "
              >
                Confirm New Password is required
              </small>
              <small
                class="text-danger"
                *ngIf="
                  changePasswordForm.get('confirm_new_password')?.touched &&
                  changePasswordForm.get('confirm_new_password')?.invalid
                "
              >
                Minimum 6 characters
              </small>
          </div>
        </div>
      </form>
    </ng-template>
  </app-modal>
  <app-modal
    [config]="{
      id: 'deactivateAccount',
      title: 'Disable Account',
      submitButtonText: 'Confirm Disable',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="deactivateAccount()"
  >
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>
          Are you sure that you want to disable
          <strong>{{ this.wizard?.username | titlecase }}</strong
          >?
        </p>
      </div>
    </ng-template>
  </app-modal>
</div>
