<div class="container my-4">
  <app-alert></app-alert>
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
    <h2 class="mb-3 mb-md-0">
      <strong class="text-primary">QUESTIONS MANAGEMENT </strong>
    </h2>
    <app-searcher [data]="questions" [filterAttributes]="['id']" (filteredData)="onSearch($event)"
      (searchTermChange)="searchTerm = $event" class="searcher"></app-searcher>
    <app-add-button [modalTarget]="'#addQuestion'" [buttonText]="'Add Question'" />
  </div>
  <app-data-table [columns]="[
      { key: 'id', label: 'ID' },
      { key: 'question', label: 'Question' },
      { key: 'created_at', label: 'Created At' },
      { key: 'options', label: 'Options', isArray: true }
    ]" [data]="filteredQuestions" [emptyMessage]="'There are no questions available.'"
    [editModalTarget]="'#editQuestion'" [removeModalTarget]="'#removeQuestion'"
    (selectedEntity)="onQuestionSelected($event)">
  </app-data-table>
  <app-modal [config]="{
      id: 'addQuestion',
      title: 'New Question',
      submitButtonText: 'Create Question',
      cancelButtonText: 'Cancel'
    }" (onSubmit)="addQuestion()" (onCancel)="cancelQuestionInput()">
    <ng-template #modalContent>
      <form [formGroup]="questionForm">
        <div class="col-md-12">
          <label for="question">Question</label>
          <input type="text" formControlName="question" id="question" class="form-control" required />
          <div formArrayName="options">
            <div *ngFor="let optionCtrl of optionsFormArray.controls; let i = index">
              <label [for]="'option_' + i">Option {{ i + 1 }}</label>
              <input type="text" [formControlName]="i" [id]="'option_' + i" class="form-control" />
            </div>
          </div>
          <button type="button" (click)="addOption()" [disabled]="optionsFormArray.length >= maxOptions"
            class="btn btn-secondary btn-sm">Add Option</button>
        </div>
      </form>
    </ng-template>
  </app-modal>
  <app-modal [config]="{
      id: 'editQuestion',
      title: 'Edit Question',
      submitButtonText: 'Save Changes',
      cancelButtonText: 'Cancel'
    }" (onSubmit)="editQuestion()" (onCancel)="cancelQuestionInput()">
    <ng-template #modalContent>
      <form [formGroup]="questionForm">
        <div class="col-md-12">
          <label for="question">Question</label>
          <input type="text" formControlName="question" id="question" class="form-control" required />
          <div formArrayName="options">
            <div *ngFor="let optionCtrl of optionsFormArray.controls; let i = index">
              <label [for]="'option_' + i">Option {{ i + 1 }}</label>
              <input type="text" [formControlName]="i" [id]="'option_' + i" class="form-control" />
            </div>
          </div>
          <button type="button" (click)="addOption()" [disabled]="optionsFormArray.length >= maxOptions"
            class="btn btn-secondary btn-sm">Add Option</button>
        </div>
      </form>
    </ng-template>
  </app-modal>
  <app-modal [config]="{
      id: 'removeQuestion',
      title: 'Remove Question',
      submitButtonText: 'Confirm Delete',
      cancelButtonText: 'Cancel'
    }" (onSubmit)="removeQuestion()" (onCancel)="questionForm.reset()">
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>Are you sure that you want to remove the question?</p>
        <p><strong>Question:</strong> {{ selectedQuestion?.question | titlecase }}</p>
      </div>
    </ng-template>
  </app-modal>
</div>
