<div class="container my-4">
  <app-universal-alert></app-universal-alert>
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
    <h2 class="mb-3 mb-md-0"><strong class="text-primary">GESTION DE ESCUELAS </strong></h2>
    <app-searcher [data]="escuelas" [filterAttributes]="['nombre']" (filteredData)="onSearch($event)"
      style="display: block; width: 70%;"></app-searcher>
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addEscuela">
      <i class="bi bi-person-plus me-2"></i>Añadir Escuela
    </button>
  </div>


  <div class="table-responsive rounded-3 shadow-sm">
    <table class="table table-hover table-striped mb-0">
      <thead class="table-primary">
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="escuelas.length > 0">
        <tr *ngFor="let escuela of filteredEscuelas">
          <td data-label="Nombre">{{ escuela.nombre }}</td>
          <td data-label="Acciones">
            <button (click)="openModal('editEscuela', escuela)" class="btn btn-lg btn-outline-primary"
              data-bs-toggle="modal">
              <img src="edit.logo.png" alt="">
            </button>
            <button (click)="openModal('removeEscuela', escuela)" class="btn btn-lg btn-outline-danger"
              data-bs-toggle="modal">
              <img src="cancel.logo.png" alt="">
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="filteredEscuelas.length === 0">
        <tr>
          <td colspan="8" class="text-center py-5 text-muted">
            <i class="bi bi-people display-6 d-block mb-2"></i>
            No hay escuelas registradas
          </td>
        </tr>
      </tfoot>
    </table>
  </div>


  <div class="modal fade" id="addEscuela" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Escuela</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="brandForm" (ngSubmit)="addEscuela()">
            <div class="col-md-12">
              <label for="name">Nombre Escuela</label>
              <input type="text" formControlName="nombreEscuela" id="name" name="name" class="form-control" required>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="removeEscuela" class="modalChanged">
    <div class="modal-contentChanged">
      <span class="close" (click)="closeModal('removeEscuela')">&times;</span>
      <h2>Eliminar Escuela</h2>
      <p><strong>¿Estás seguro de que deseas eliminar la siguiente escuela?</strong></p>
      <p><strong>Nombre:</strong> {{ selectedEscuela?.nombre }}</p>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal('removeEscuela')">Cancelar</button>
        <button class="btn btn-danger" (click)="deleteEscuela(selectedEscuela, 'removeEscuela')">Eliminar</button>
      </div>
    </div>
  </div>

  <div id="editEscuela" class="modalChanged">
    <div class="modal-contentChanged">
      <span class="close" (click)="closeModal('editEscuela')">&times;</span>
      <h2>Editar Escuela</h2>
      <form [formGroup]="escuelaForm" (ngSubmit)="editEscuela()">
        <div class="form-group">
          <label for="nombreEscuela">Nombre Escuela</label>
          <input type="text" id="nombreMarca" formControlName="nombreMarca" class="form-control" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal('editEscuela')">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>