<div class="container my-4">
  <app-universal-alert></app-universal-alert>
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
    <h2 class="mb-3 mb-md-0"><strong class="text-primary">GESTION DE MARCAS </strong></h2>
    <app-searcher [data]="brands" [filterAttributes]="['nombreMarca']" (filteredData)="onSearch($event)"
      style="display: block; width: 70%;"></app-searcher>
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addBrand">
      <i class="bi bi-person-plus me-2"></i>Añadir Marca
    </button>
  </div>


  <div class="table-responsive rounded-3 shadow-sm">
    <table class="table table-hover table-striped mb-0">
      <thead class="table-primary">
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="brands.length > 0">
        <tr *ngFor="let brand of filteredBrands">
          <td data-label="Nombre">{{ brand.nombreMarca }}</td>
          <td data-label="Acciones">
            <button (click)="openModal('editBrand', brand)" class="btn btn-lg btn-outline-primary"
              data-bs-toggle="modal">
              <img src="edit.logo.png" alt="">
            </button>
            <button (click)="openModal('removeBrand', brand)" class="btn btn-lg btn-outline-danger"
              data-bs-toggle="modal">
              <img src="cancel.logo.png" alt="">
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="filteredBrands.length === 0">
        <tr>
          <td colspan="8" class="text-center py-5 text-muted">
            <i class="bi bi-people display-6 d-block mb-2"></i>
            No hay marcas registradas
          </td>
        </tr>
      </tfoot>
    </table>
  </div>


  <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Marca</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="brandForm" (ngSubmit)="addBrand()">
            <div class="col-md-12">
              <label for="name">Nombre Marca</label>
              <input type="text" formControlName="nombreMarca" id="name" name="name" class="form-control" required>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="removeBrand" class="modalChanged">
    <div class="modal-contentChanged">
      <span class="close" (click)="closeModal('removeBrand')">&times;</span>
      <h2>Eliminar Marca</h2>
      <p><strong>¿Estás seguro de que deseas eliminar la siguiente marca?</strong></p>
      <p><strong>Nombre:</strong> {{ selectedBrand?.nombreMarca }}</p>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal('removeBrand')">Cancelar</button>
        <button class="btn btn-danger" (click)="deleteBrand(selectedBrand, 'removeBrand')">Eliminar</button>
      </div>
    </div>
  </div>

  <div id="editBrand" class="modalChanged">
    <div class="modal-contentChanged">
      <span class="close" (click)="closeModal('editBrand')">&times;</span>
      <h2>Editar Marca</h2>
      <form [formGroup]="brandForm" (ngSubmit)="editBrand()">
        <div class="form-group">
          <label for="nombreMarca">Nombre Marca</label>
          <input type="text" id="nombreMarca" formControlName="nombreMarca" class="form-control" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal('editBrand')">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>