.custom-modal-backdrop {
  padding: 0;
  margin: 0;
  position: fixed;
  inset: 0;
  background: rgba(171, 171, 171, 0.165);
  z-index: 1040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-footer {
  margin-top: 8px;
}

.custom-submit-button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: white;
}

.custom-submit-button:hover,
.custom-submit-button:focus {
  background-color: var(--secondary-color);
  color: black;
}

.custom-cancel-button {
  background-color: var(--secondary-color);
  border: var(--form-border-focus);
  color: black;
}

.custom-cancel-button:hover,
.custom-cancel-button:focus {
  background-color: black;
  color: white;
  border-color: black;
}