<div class="modal fade " [id]="config.id" tabindex="-1" [attr.aria-labelledby]="config.id + 'Label'" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title custom-modal-title" [id]="config.id + 'Label'"> {{ config.title }} </h1>
        <button type="button" class="btn-close custom-btn-close" (click)="cancel()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-cancel-button" data-bs-dismiss="modal" (click)="cancel()">{{ config.cancelButtonText}}</button>
        <button type="button" class="btn custom-submit-button" data-bs-dismiss="modal" (click)="submit()">{{ config.submitButtonText }}</button>
      </div>
    </div>
  </div>
</div>
