<div class="container py-4">
  <h2 class="my-4">Order Dashboard</h2>
  <app-alert></app-alert>
  <div class="mt-5" *ngIf="(orders?.length ?? 0) > 0; else noOrders">
    <div class="row g-4">
        <div class="col-12" *ngFor="let order of orders">
          <div class="card shadow border-0 mb-2">
            <div class="row g-0 align-items-center">
              <div class="col-md-4 text-center">
                <img
                  [src]="getWandFromOrder(order)?.image"
                  alt="Wand Photo"
                  class="img-fluid rounded mt-4 mx-md-1"
                  style="max-height: 220px; object-fit: contain;"
                  (error)="onImgError($event)"
                />
              </div>
              <div class="col-md-8 p-3 order-info-card">
                <h5 class="card-title my-4 text-center"><strong>Order #{{ order.id }}</strong></h5>
                <ul class="list-unstyled mb-2 bg-light p-3 rounded">
                  <li><strong>Status: </strong><span class="badge" [ngStyle]="{ 'background-color': statusColor(order.status), color: '#fff', 'padding': '4px 12px', 'border-radius': '6px', 'font-weight': 'bold' }"> {{ order.status | titlecase }}</span></li>
                  <li><strong>Payment Provider:</strong> {{ order.payment_provider | titlecase}}</li>
                  <li><strong>Payment Reference:</strong> {{ order.payment_reference }}</li>
                  <li><strong>Shipping Address:</strong> {{ order.shipping_address }}</li>
                  <li><strong>Created At:</strong> {{ order.created_at | date:'medium' }}</li>
                  <li><strong>Wand Name:</strong> {{ getWandFromOrder(order)?.name | titlecase}}</li>
                  <li><strong>Wand Price:</strong> {{ getWandFromOrder(order)?.total_price | currency }}</li>
                </ul>
              </div>
              <div *ngIf="order.review" class="card col-md-8 shadow-sm review-card">
                <h6 class="card-title fw-bold mb-2">Review</h6>
                <p class="mb-0">{{ order.review }}</p>
              </div>
            </div>
            <div class="card-footer bg-white border-0 pt-1 gap-3 mb-4">
              <div class="row g-2">
                <div *ngIf="canCancel(order)" class="col">
                  <button
                    class="btn btn-lg w-100 cancel-button"
                    (click)="onSelectedEntity(order)"
                    [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#cancelOrder'"
                  >
                    Cancel
                  </button>
                </div>
                <div *ngIf="canComplete(order)" class="col">
                  <button
                    class="btn btn-lg w-100 complete-button"
                    (click)="onSelectedEntity(order)"
                    [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#completeOrder'"
                  >
                    Complete
                  </button>
                </div>
                <div *ngIf="canRefund(order)" class="col">
                  <button
                    class="btn btn-lg btn-secondary w-100 refund-button"
                    (click)="onSelectedEntity(order)"
                    [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#refundOrder'"
                  >
                    Refund
                  </button>
                </div>
                <div *ngIf="canReview(order)" class="col">
                  <button
                    class="btn btn-lg btn-primary w-100 review-button"
                    (click)="onSelectedEntity(order)"
                    [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#reviewOrder'"
                  >
                    Review
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
    <app-infinite-scroll (scrolled)="onScrollLoadMore()" [disabled]="loading" />
  </div>
  <div *ngIf="loading" class="text-center py-3">
    <span class="spinner-border"></span>
  </div>
  <ng-template #noOrders>
    <div *ngIf="!loading" class="alert alert-info">No orders found</div>
  </ng-template>
  <app-modal
    [config]="{
      id: 'completeOrder',
      title: 'Complete Order',
      submitButtonText: 'Complete',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="complete(this.selectedOrder!)"
  >
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>Are you sure that you want to complete <strong>Order #{{ selectedOrder?.id | titlecase }}</strong> ?</p>
      </div>
    </ng-template>
  </app-modal>
    <app-modal
    [config]="{
      id: 'cancelOrder',
      title: 'Cancel Order',
      submitButtonText: 'Cancel',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="cancel(this.selectedOrder!)"
  >
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>Are you sure that you want to cancel <strong>Order #{{ selectedOrder?.id | titlecase }}</strong> ?</p>
      </div>
    </ng-template>
  </app-modal>
    <app-modal
    [config]="{
      id: 'refundOrder',
      title: 'Refund Order',
      submitButtonText: 'Refund',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="refund(this.selectedOrder!)"
  >
    <ng-template #modalContent>
      <div class="col-md-12">
        <p>Are you sure that you want to refund <strong>Order #{{ selectedOrder?.id | titlecase }}</strong> ?</p>
      </div>
    </ng-template>
  </app-modal>
  <app-modal
    [config]="{
      id: 'reviewOrder',
      title: 'Review Order',
      submitButtonText: 'Submit Review',
      cancelButtonText: 'Cancel'
    }"
    (onSubmit)="review()"
    (onCancel)="this.reviewText = ''"
  >
    <ng-template #modalContent>
      <div>
        <label for="reviewText" class="form-label">Your Review</label>
        <textarea
          id="reviewText"
          [(ngModel)]="reviewText"
          class="form-control"
        ></textarea>
      </div>
    </ng-template>
  </app-modal>
</div>
