.relative {
  position: relative;
}

#dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1050;
  min-width: 100%;
  display: none;
}

#dropdown.block {
  display: block;
}

.logo{
  width: 205px;
  height: 100px;

}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: gainsboro;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin: 1.5rem 0;
}

.custom-navbar {
  background-color: #061422;
}

.custom-secondary-navbar {
  background-color: #f9fafb;
}

.custom-dropdown {
  width: 11rem;
  z-index: 10;
  background-color: white;
  border: none;
}

.custom-dropdown-item {
  background-color: #f8f9fa;
  color: #212529;
}

.custom-dropdown-item:hover {
  background-color: #e9ecef;
}

.custom-nav-link {
  color: #111827;
}

.custom-nav-link:hover {
  text-decoration: underline;
}
