<div class="bottom-sheet-container">
  <h3 class="bottom-sheet-title">{{ config.title }}</h3>
  <div class="bottom-sheet-content">
    <div *ngFor="let field of config.fields" class="bottom-sheet-field">
      <p>
        <strong>{{ field.label }}:</strong>
        <ng-container *ngIf="field.key !== 'description'; else plainText">
          <ng-container *ngIf="isString(getNestedValue(config.data, field.key)); else noTitlecase">
            {{ getNestedValue(config.data, field.key) | titlecase }}
          </ng-container>
          <ng-template #noTitlecase>
            {{ getNestedValue(config.data, field.key) }}
          </ng-template>
      </ng-container>
      <ng-template #plainText>
        {{ getNestedValue(config.data, field.key) }}
      </ng-template>
      </p>
    </div>
  </div>
  <button mat-button class="close-button" (click)="closeSheet()">Close</button>
</div>
