<nav class="navbar navbar-light custom-navbar">
  <div class="container d-flex align-items-center">
    <div class="navbar-section navbar-logo">
      <a href="/" class="navbar-brand shadow-none me-3 ms-3">
        <img src="logo-black-transparent.png" class="logo" alt="logo" />
      </a>
    </div>
    <div class="navbar-section navbar-center">
      <a routerLink="./" class="nav-middle">Store</a>
      <a routerLink="product/reviews" class="nav-middle">Reviews</a>
    </div>
    <div class="navbar-section navbar-login">
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/auth/login" class="nav-link nav-login text-black fs-6 text-decoration-underline shadow-none">
          <span class="login-text d-none d-md-inline shadow-none">Log In</span>
          <i class="bi bi-person-fill d-inline d-md-none" style="font-size: 1.8rem;"></i>
        </a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <div class="dropdown position-relative">
          <button id="dropdownDefaultButton" (click)="toggleDropdown()"
            class="rounded-3 px-4 py-2 d-inline-flex align-items-center custom-dropdwon-button" type="button">
            {{ currentWizard?.name + ' ' + currentWizard?.last_name | titlecase}}
            <svg class="ms-3" style="width: 10px; height: 6px;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>
          <div id="dropdown" class="dropdown-menu custom-dropdown rounded-3 shadow"
            [ngClass]="{'d-none': !isDropdownOpen, 'd-block': isDropdownOpen}">
            <ul class="py-2 fs-6" aria-labelledby="dropdownDefaultButton">
              <li>
                <a (click)="toggleDropdown()" routerLink="/product/dashboard"
                  class="dropdown-item custom-dropdown-item px-4 py-2">Dashboard</a>
              </li>
              <li>
                <a (click)="toggleDropdown()" routerLink="/auth/profile"
                  class="dropdown-item custom-dropdown-item px-4 py-2">Settings</a>
              </li>
              <li>
                <a (click)="logout()" class="dropdown-item custom-dropdown-item px-4 py-2">Log Out</a>
              </li>
              <ng-container *ngIf="isMobile && wizardRole === WizardRole.Admin">
                <li class="dropdown-divider custom-dropdown-divider"></li>
                <li class="dropdown-header custom-dropdown-header">
                  Management
                </li>
                <li>
                  <a (click)="toggleDropdown()" routerLink="/product/cores"
                    class="dropdown-item custom-dropdown-item px-4 py-2">Cores</a>
                </li>
                <li>
                  <a (click)="toggleDropdown()" routerLink="/product/woods"
                    class="dropdown-item custom-dropdown-item px-4 py-2">Woods</a>
                </li>
                <li>
                  <a (click)="toggleDropdown()" routerLink="/product/wands"
                    class="dropdown-item custom-dropdown-item px-4 py-2">Wands</a>
                </li>
                <li>
                  <a (click)="toggleDropdown()" routerLink="/product/schools"
                    class="dropdown-item custom-dropdown-item px-4 py-2">Schools</a>
                </li>
                <li>
                  <a (click)="toggleDropdown()" routerLink="/auth/wizards"
                    class="dropdown-item custom-dropdown-item px-4 py-2">Wizards</a>
                </li>
                <li>
                  <a (click)="toggleDropdown()" routerLink="/product/orders"
                    class="dropdown-item custom-dropdown-item px-4 py-2">Orders</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
<nav class="navbar navbar-light custom-secondary-navbar">
  <div class="container d-flex justify-content-center">
    <div class="d-flex align-items-center">
      <ul class="nav gap-4">
        <ng-container *ngIf="wizardRole === WizardRole.Admin && !isMobile">
          <li class="nav-item">
            <a routerLink="/product/cores" class="nav-link custom-nav-link">Cores</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product/woods" class="nav-link custom-nav-link">Woods</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product/wands" class="nav-link custom-nav-link">Wands</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product/schools" class="nav-link custom-nav-link">Schools</a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/wizards" class="nav-link custom-nav-link">Wizards</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product/orders" class="nav-link custom-nav-link">Orders</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
