.relative {
  position: relative;
}

#dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1050;
  min-width: 100%;
  display: none;
}

#dropdown.block {
  display: block;
  z-index: 1050;
}

.logo {
  width: 200px;
  height: 100px;
}

.custom-navbar {
  padding: 0;
  background-color: #ffffff;
  position: relative;
  border-bottom: 3px solid #aa8855;
  z-index: 10;
}

.custom-secondary-navbar {
  background-color: #000;
  padding: 0;
}

.custom-dropdown {
  width: 11rem;
  z-index: 10;
  background-color: white;
  border: none;
}

.custom-dropdown-item {
  background-color: #f8f9fa;
  color: #212529;
}

.custom-dropdown-item:hover {
  background-color: #e9ecef;
}

.custom-nav-link {
  color: #ffffff;
}

.custom-nav-link:hover {
  text-decoration: underline;
}