<div class="table-responsive rounded-3 shadow-sm">
  <table class="table table-hover table-striped mb-0">
    <thead class="table-primary">
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="data.length > 0">
      <tr *ngFor="let item of data">
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.isArray; else notArray">
            <span *ngFor="let itemValue of item[col.key]; let i = index">
              <ng-container *ngIf="isImageUrl(col.subKey ? itemValue[col.subKey] : itemValue); else normalValue">
                <img [src]="col.subKey ? itemValue[col.subKey] : itemValue" alt="Image" style="max-width: 50px; max-height: 50px;" />
              </ng-container>
              <ng-template #normalValue>
                {{ formatValue(col.subKey ? itemValue[col.subKey] : itemValue, col.format) }}
              </ng-template>
              <span *ngIf="i < item[col.key].length - 1">, </span>
            </span>
          </ng-container>
          <ng-template #notArray>
            <ng-container *ngIf="isImageUrl(col.subKey ? item[col.key]?.[col.subKey] : item[col.key]); else normalValueSingle">
              <img [src]="col.subKey ? item[col.key]?.[col.subKey] : item[col.key]" alt="Image" style="max-width: 50px; max-height: 50px;" />
            </ng-container>
            <ng-template #normalValueSingle>
              {{ formatValue(col.subKey ? item[col.key]?.[col.subKey] : item[col.key], col.format) }}
            </ng-template>
          </ng-template>
        </td>
        <td>
          <div class="vertical-buttons horizontal-buttons">
            <button [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="editModalTarget" class="btn btn-outline-primary"
              (click)="onSelectEntity(item)">
              <img src="edit-logo.png" alt="">
            </button>
            <button [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="removeModalTarget" class="btn btn-outline-danger"
              (click)="onSelectEntity(item)">
              <img src="cancel-logo.png" alt="">
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="data.length === 0">
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center py-5 text-muted">
          <i class="bi bi-people display-6 d-block mb-2"></i> {{ emptyMessage }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
