<div class="table-responsive rounded-3 shadow-sm">
  <table class="table table-hover table-striped mb-0">
    <thead class="table-primary">
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="data.length > 0">
      <tr *ngFor="let item of data">
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.key === 'name'; else defaultCell">
            {{ item[col.key] | titlecase }}
          </ng-container>
          <!-- Show price with dollar sign -->
          <ng-container *ngIf="col.key === 'price'">
            ${{ item[col.key] }}
          </ng-container>
          <ng-template #defaultCell>
            <ng-container *ngIf="col.key !== 'price' && col.key !== 'name'">
              {{ item[col.key] }}
            </ng-container>
          </ng-template>
        </td>
        <td>
          <div class="vertical-buttons horizontal-buttons">
            <button [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="editModalTarget" class="btn btn-outline-primary">
              <img src="edit-logo.png" alt="">
            </button>
            <button [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="removeModalTarget" class="btn btn-outline-danger">
              <img src="cancel-logo.png" alt="">
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="data.length === 0">
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center py-5 text-muted">
          <i class="bi bi-people display-6 d-block mb-2"></i>
          {{ emptyMessage }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
