input.form-control,
textarea.form-control {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.searcher {
  display: block;
  width: 70%;
  margin: 0 15px;
}

h2 {
  color: #2c4f72;
  font-size: 27px;
  font-weight: bold;
}
