<footer class="footer-10">
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-3 mb-4 mb-lg-0">
        <div class="social-links">
          <a href="" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="" class="social-icon"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
        <h5 class="footer-heading">SHOPS</h5>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Olivenders Shop King's Cross</a></li>
          <li><a href="">Olivenders Shop New York</a></li>
          <li><a href="">Olivenders Shop Chicago</a></li>
          <li><a href="">Olivenders Shop Akasaka</a></li>
          <li><a href="">Olivenders Shop Harajuku</a></li>
          <li><a href="">Warner Bros. Studio Tour London</a></li>
          <li><a href="">Warner Bros. Studio Tour Tokyo</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
        <h5 class="footer-heading">CUSTOMER SERVICE</h5>
        <ul class="footer-links">
          <li><a href="">FAQs</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5 class="footer-heading">LEGAL</h5>
        <ul class="footer-links">
          <li><a href="">Terms of Use</a></li>
          <li><a href="">Terms of Purchase</a></li>
          <li><a href="">Modern Slavery Act Transparency Statement</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Ad Choices</a></li>
          <li><a href="">Manage Preferences</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom pt-3 border-top">
      <div class="row align-items-center justify-center">
        <div class="col-12">
          <p class="privacy-text">This is an open-source university project with no commercial intent. For questions or concerns, please visit the <a href="https://github.com/alejosilvalau/olivenders-frontend" class="text-white">project's source</a></p>
        </div>

        <div class="col-md-6 ">
          <p class="copyright-text">OLIVENDERS and related trademarks, characters, names and indicia are TM and © Warner Bros. Entertainment Inc. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <div class="payment-methods">
            <img src="./stripe.svg" alt="stripe" />
            <img src="./paypal.svg" alt="paypal" />
            <img src="./citibank.svg" alt="wire-transfer" />
            <img src="./amex.svg" alt="credit-card" />
            <img src="./visa.svg" alt="debit-card" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
