<form [formGroup]="filterForm" (ngSubmit)="applyFilter()" class="filter-form">
  <div class="grid-container">
    <div class="form-group">
      <label for="wood">Wood Type:</label>
      <select id="wood" formControlName="wood">
        <option value="" disabled hidden>Select a Type of Wood</option>
        <option *ngFor="let wood of woods.data" [value]="wood.name">
          {{ wood.name | titlecase}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="minlengthInches">Min Length in Inches:</label>
      <input type="number" id="minlengthInches" formControlName="minlengthInches" placeholder="2" onwheel="this.blur()"/>
    </div>

    <div class="form-group">
      <label for="maxLengthInches">Max Length in Inches:</label>
      <input type="number" id="maxLengthInches" formControlName="maxLengthInches" placeholder="15" onwheel="this.blur()"/>
    </div>

    <div class="form-group">
      <label for="core">Core Type:</label>
      <select id="core" formControlName="core">
        <option value="" disabled hidden class="placeholder-option">Select a Type of Core</option>
        <option *ngFor="let core of cores.data" [value]="core.name">
          {{ core.name | titlecase}}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="minPrice">Min Price:</label>
      <input type="number" id="minPrice" formControlName="minPrice" placeholder="1000" onwheel="this.blur()"/>
    </div>
    <div class="form-group">
      <label for="maxPrice">Max Price:</label>
      <input type="number" id="maxPrice" formControlName="maxPrice" placeholder="5000" onwheel="this.blur()"/>
    </div>
  </div>
  <div class="button-group">
    <button type="button" class="btn-reset" (click)="resetFilter()">
      Clear
    </button>
    <button type="submit" class="btn-filter">Filter</button>
  </div>
</form>
