:host {
  --input-border-color: #000000;
  --placeholder-color: #aaaaaa;
  --border-radius: 8px;
  --transition-speed: 0.3s;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.filter-form {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: white;
  border: var(--form-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-family: 'AvenirLTPro', Arial, sans-serif;
  color: white;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: black;
}

.form-group input,
.form-group select {
  padding: 0.5rem;
  background-color: white;
  border: var(--form-border);
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: black;
  transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.form-group input::placeholder,
.form-group select::placeholder {
  color: var(--placeholder-color);
}

.form-group input:focus,
.form-group select:focus,
.form-group input:hover,
.form-group select:hover {
  outline: none;
  border-color: var(--primary-color);
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.checkbox-group input {
  width: 16px;
  height: 16px;
}

.checkbox-group label {
  margin-left: 0.5rem;
  margin-bottom: 0;
}


.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

button {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
  cursor: pointer;
  transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.btn-filter {
  background-color: var(--primary-color);
  color: #fff;
  border: var(--form-border-focus);
}

.btn-filter:hover {
  background-color: var(--secondary-color);
  color: black;
  border-color: var(--primary-color);
}

.btn-reset {
  background-color: var(--secondary-color);
  color: black;
  border: var(--form-border-focus);
}

.btn-reset:hover {
  background-color: black;
  color: white;
  border-color: black;
}

input::placeholder {
  font-style: italic;
}

.placeholder-option {
  color: #aaa !important;
  font-style: italic;
}