<div class="container py-4">
  <div class="card shadow mb-4 order-box">
    <div class="card-header bg-white border-bottom">
      <h1 class="text-center h3 my-3 order-title">Place Order</h1>
    </div>
    <div class="card-body p-4" *ngIf="wand">
      <div class="row mb-4 justify-content-between">
        <div class="col-sm-6 col-md-5 mb-3 mb-md-0 d-flex align-items-center justify-content-center order-image-container">
          <img
            [src]="wand.image"
            alt="wand-image"
            class="img-fluid rounded order-image"
          />
        </div>
        <div class="col-sm-8 col-md-7 d-flex align-items-center justify-content-center flex-column order-details">
          <h2 class="h4 mb-3 fw-normal mb-4 text-center">{{ wand.name | titlecase }}</h2>
          <div class="card bg-light mb-3 order-info">
            <div class="card-header py-2">
              <h3 class="h6 mb-0 mt-1 py-1">More Info</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 mb-2">
                  <span class="text-muted fw-bold">Wood: </span>
                  <span>{{ wandWoodName | titlecase }}</span>
                </div>
                <div class="col-sm-6 mb-2">
                  <span class="text-muted fw-bold">Price: </span>
                  <span>{{ wand.total_price | currency }}</span>
                </div>
                <div class="col-sm-6 mb-2">
                  <span class="text-muted fw-bold">Core: </span>
                  <span>{{ wandCoreName | titlecase }}</span>
                </div>
              </div>
              <hr>
              <p class="mb-0">{{ wand.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="placeOrderForm" class="mt-4">
        <div class="row g-3">
          <div class="col-md-6 mb-3">
            <label for="shipping_address" class="form-label fs-5">Shipping Address</label>
            <input
              id="shipping_address"
              formControlName="shipping_address"
              class="form-control"
              placeholder="Enter your shipping address"
            />
            <div
              *ngIf="placeOrderForm.get('shipping_address')?.invalid && placeOrderForm.get('shipping_address')?.touched"
              class="text-danger small"
            >
              Shipping address is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="payment_provider" class="form-label fs-5">Payment Method</label>
            <select
              id="payment_provider"
              formControlName="payment_provider"
              class="form-select"
            >
              <option value="default" disabled hidden>
                Select payment method
              </option>
              <option value="stripe">Stripe</option>
              <option value="paypal">PayPal</option>
              <option value="wire_transfer">Wire Transfer</option>
              <option value="credit_card">Credit Card</option>
              <option value="debit_card">Debit Card</option>
            </select>
            <div
              *ngIf="placeOrderForm.get('payment_provider')?.invalid && placeOrderForm.get('payment_provider')?.touched"
              class="text-danger small"
            >
              Payment method is required
            </div>
          </div>
        </div>
      </form>
      <button
        type="button"
        class="btn btn-lg w-100 mb-2 mt-3 order-button"
        [disabled]="placeOrderForm.invalid"
        data-bs-toggle="modal"
        data-bs-target="#confirmOrder"
      >
        Place Order
      </button>
      <app-modal
        [config]="{
          id: 'confirmOrder',
          title: 'Confirm Order',
          submitButtonText: 'Place Order',
          cancelButtonText: 'Cancel'
        }"
        (onSubmit)="placeOrder()"
      >
        <ng-template #modalContent>
          <div class="col-12">
            <p>Do you want to finalize and place this order?</p>
            <div class="card mb-3">
              <div class="card-body bg-light p-3">
                <p class="mb-2">
                  <strong>Wand:</strong> {{ wand.name | titlecase }}
                </p>
                <p class="mb-2">
                  <strong>Price:</strong> {{ wand.total_price | currency }}
                </p>
                <p class="mb-2">
                  <strong>Shipping To:</strong>
                  {{ placeOrderForm.get("shipping_address")?.value }}
                </p>
                <p class="mb-0">
                  <strong>Payment Method:</strong>
                  {{ placeOrderForm.get("payment_provider")?.value }}
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </app-modal>
    </div>
  </div>
</div>
