.order-box {
  border: var(--form-border-focus);
  margin: 20px 10px;
  overflow-x: hidden;
}

.order-title {
  font-family: 'NightGeorgiaDemo', Arial, sans-serif;
  color: #000000;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 0.7;
  text-align: center;
}

.order-image {
  max-height: 275px;
  object-fit: fill;
  box-shadow: 0 8px 20px rgba(19, 19, 19, 0.249);
  border-radius: 13px;
}

order-info {
  background-color: var(--secondary-color);
}

input {
  background-color: var(--secondary-color);
}

select {
  padding: 12px 15px;
  background-color: var(--secondary-color);
  border: var(--form-border);
  border-radius: 8px;
  font-size: 1rem;
  color: black;
  transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

select:focus,
select:hover {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: none;
}

.order-button {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px;
  border: var(--form-border-focus);
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

button:hover {
  background-color: var(--secondary-color);
  color: black;
}

@media (max-width: 1200px) {
  .order-box {
    max-width: 98vw;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
  }

  .order-image {
    margin-left: 60px;
    height: auto;
    width: auto;
  }

  .order-details {
    width: 50%;
  }
}

@media (max-width: 769px) {
  .row.mb-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
  }

  .order-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .order-image {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .order-details {
    width: 100%;
    padding: 0;
  }

  .order-info {
    margin-top: 20px;
  }
}