<div class="review-list container">
  <div
    *ngFor="let order of ordersWithReviews"
    class="review-card d-flex align-items-center mb-4 p-3 border rounded shadow-sm"
  >
    <img
      [src]="getReviewImage(order)"
      alt="Wand Image"
      class="wand-image me-4"
    />
    <div class="flex-grow-1">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="review-stars">
          <ng-container *ngFor="let star of [0,1,2,3,4]; let i = index">
            <span [ngClass]="i < order.rating ? 'text-warning' : 'text-secondary'">&#9733;</span>
          </ng-container>
        </div>

      </div>
      <div class="review-text">
        <span>"{{ order.review }}"</span>
      </div>
      <app-wand-details-button
        [wand]="getWand(order)"
      ></app-wand-details-button>
    </div>
  </div>
</div>
