.review-list {
  max-width: 700px;
  margin: 2rem auto;
}

.review-card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.2s;
  position: relative;
  border: var(--form-border);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.review-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
}

.wand-image {
  border-radius: 8px;
  background: #f8f9fa;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.review-stars {
  font-size: 2rem;
  letter-spacing: 4px;
  color: #f5c518;
  line-height: 1;
  background: none;
  filter: none;
}

.review-text {
  margin: 3rem 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
}

.review-content-card {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.review-meta {
  margin-top: auto;
}

@media (max-width: 600px) {
  .review-card {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .review-stars {
    align-self: center;
  }

  .review-meta span:first-child {
    margin-right: 20px;
  }

  .review-meta span:last-child {
    margin-left: 20px;
  }

  .wand-image {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: white;
  }
}
