:host {
  display: block;
}

.custom-add-button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
}

.custom-add-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: black;
}