@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProBlackOblique.otf') format('opentype');
  font-weight: 900;
  font-style: oblique;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProHeavyOblique.otf') format('opentype');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProMediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProLightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProOblique.otf') format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProBook.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('assets/fonts/AvenirLTProBookOblique.otf') format('opentype');
  font-weight: 350;
  font-style: oblique;
}

@font-face {
  font-family: 'NightGeorgiaDemo';
  src: url('assets/fonts/night-georgia-demo.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WizardryNight';
  src: url('assets/fonts/wizardry-night.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #aa8855;
  --secondary-color: #f5f5f5;
  --form-hover-color: #d1d5db;

  --form-border: 2px solid var(--form-hover-color);
  --form-border-focus: 2px solid var(--primary-color);
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'AvenirLTPro', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

.app-root,
.main-content {
  min-height: calc(100vh - 50vh);
  display: flex;
  flex-direction: column;
}

.footer-10 {
  width: 100%;
  margin-top: auto;
}